@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto');

.home-bg {
  height: 100% !important;
  color: #fff;
  padding: 0  0;
  margin: 0;
  overflow-y: hidden !important;
  background-color: #1c1a19 !important;
}

.name {
  font-style: normal;
  font-weight: normal;
  color: #f55800;
}

.title {
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.description {
  font-style: normal;
  font-weight: normal;
  color: #f4f5f7;
}

.home {
  padding: 120px 15px 120px 15px;
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
  }

  .social {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .home {
    padding: 192px 15px 192px 15px;
  }
}
