
.home-bg {
    height: 100% !important;
    color: #fff;
    padding: 0;
    margin :0;
}
.name {
  font-family: Crete Round;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 81px;
  color: #F55800;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}
.description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #F4F5F7;

}