
.home-bg {
    height: 100%;
    width: 100%;
}
.name {
  font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 60px;
/* or 125% */

text-align: center;
letter-spacing: 0.37px;

/* Neutrals/N800 */

color: #172B4D;
}