@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto');

.proj-family {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.works {
  color: #fff;
}

.project {
  background-color: #fff;
}

.css-1lizpae-MuiImageListItemBar-titleWrap {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 5px !important;
  color: #fff;
  overflow: hidden;
}

.title-header {
  display: flex;
  justify-content: center;
}

.title-border {
  border: 1px solid #212121;
  min-width: 327px;
}

.work-h {
  height: 83px;
  font-family: Crete RoundArial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 24px;
  color: #091e42;
}

@media screen and (min-width: 900px) {
  .css-1lizpae-MuiImageListItemBar-titleWrap {
    padding: 10px !important;
  }
}

@media screen and (min-width: 1200px) {
  .css-1lizpae-MuiImageListItemBar-titleWrap {
    padding: 12px !important;
  }
}
