* {
  overflow-x: hidden;
}

body {
  background-color: #fff !important;
}

.css-10h3uxi {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 24px 0;
  width: 240px;
}

.nav-link {
  cursor: pointer;
}

.m-container {
  margin-left: 5%;
  margin-right: 5%;
}
